/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Serif JP', serif;
	min-height: 100vh;
}

h1 {
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	margin-bottom: 0;
}

legend {
	font-size: 1.25em;
	font-weight: bolder;
}

.intro_blurb {
	font-size: .8em;
	color: #b1acb9;
}

fieldset {
	margin: 0;
	border: none;
	margin-top: auto;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="state"],
textarea {
	display: flex;
	background: #D8D2e1;
	width: 100%;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 20px;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0 4px 8px 0;
	background: #D8D2e1;
}

select {
	display: flex;
	background: #D8D2e1;
	width: 100%;
	border-radius: 5px;
	padding: 15px;
	margin-bottom: 0px;
}

label {
	display: flex;
	margin-bottom: 5px;
}

textarea {
	padding: 25px;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header,
.intro,
fieldset,
.main-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header {
	background-color: #34435e;
	color: #d8d2e1;
	padding: 10px;
}

.intro {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 35px;
	border-bottom: 5px solid #34435e;
}

form {
	display: block;
	flex: 1;
	padding-top: 30px;
	margin-top: 5px;
	border-top: 2.5px solid #b88e8d;
}

fieldset {
	display: block;
	flex: 1;
}

fieldset.contact_field {
	border-bottom: 2.5px solid #34435e;
}

fieldset.newsletter_field {
	margin-top: 30px;
}

.main-footer {
	margin-top: 30px;
	margin-bottom: 15px;
	color: #b1acb9;
	font-style: italic; 
}

/* ---- Page Elements ---- */

input::placeholder {
	text-align: right;
	font-style: italic;
}

input:focus,
textarea:focus,
select:focus {
	border: 2px solid #6369d1;
	border-radius: 5px;
}

input[id="zip"] {
	width: 200px;
}

label.formtext {
	display: inline;
	margin: 10px 10px;
	padding: 10px;
}

button {
	padding: 20px 10px 20px 10px;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	color: #34435e;
	background-color: #b88e8d;
	box-shadow: 5px 5px 3px #34435e inset;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {
	.intro,
	form,
	.main-footer {
		margin-left: auto;
		margin-right: auto;
		max-width: 1024px;
	}

	fieldset.contact_field {
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
	}

	.contact_field legend {
		margin-bottom: 30px;
	}

	.contact_field label {
		display: flex;
		width: 20%;
		align-content: flex-start;
	}

	.contact_field input,
	.contact_field select {
		display: flex;
		width: 80%;
	}

	select {
		margin-bottom: 20px;
	}

	input[id="zip"] {
		width: 200px;
	}

}