/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Serif JP', serif;
	min-height: 100vh;
}

.main-header {
	background-color: #34435e;
	color: #d8d2e1;
}

.intro_blurb {
	font-size: 1em;
	color: #b1acb9;
}

h1 {
	font-size: 1.5em;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-weight: bolder
}

legend {
	font-size: 1.25em;
	font-weight: bolder;
}

input,
select,
textarea {
	background: #d8d2e1;
}

button {
	color: #34435e;
	background-color: #b88e8d;
	box-shadow: 5px 5px 3px #34435e;
}

.main-footer {
	color: #b1acb9;
	font-style: italic; 
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-header,
.intro,
fieldset,
.main-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-header {
	padding: 10px;
}

.intro {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 35px;
	border-bottom: 5px solid #34435e;
}

h2 {
	margin-bottom: 0;
}

form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: auto;
	padding-top: 30px;
	margin-top: 5px;
	border-top: 2.5px solid #b88e8d;
}

fieldset {
	margin: auto;
	flex-basis: 0;
	justify-content: flex-start;
	border: none;
	width: 100%;
}

.newsletter_field .inputgroup {
	flex-direction: row;
}

.inputgroup {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	flex-basis: auto;
}

.main-footer {
	display: flex;
	justify-content: center;
	margin:30px 0px 20px 0px;
}

/* ---- Page Elements ---- */

input,
select,
textarea {
	border-radius: 5px;
	margin: 10px 0px 10px 0px;
	flex-basis: auto;
	transition-property: transform;
	transition-duration: 2s;
}

input,
select {
	padding: 15px;
}

textarea {
	padding: 20px;
}

.contact_field label,
input,
select,
textarea {
	width: 100%;
}

fieldset.contact_field {
	border-bottom: 2.5px solid #34435e;
}

fieldset.newsletter_field {
	margin-top: 30px;
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	align-self: center;
	flex-basis: auto;
	margin-right: 10px;
}

input[id="zip"] {
	width: 50%;
	max-width: 200px;
}

label.formtext {
	align-self: center;
	width: auto;
}

input::placeholder,
select option:first-child {
	font-style: italic;
}

input[id="name"],
input[id="mail"] {
	text-align: right;
}

input:focus,
textarea:focus,
select:focus {
	border: 2px solid #6369d1;
	border-radius: 5px;
	transform: scale(1.025,1.025);
}

button {
	padding: 20px 10px 20px 10px;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	margin: 10px 0px 5px 0px;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width: 768px) {

	.intro,
	form,
	fieldset,
	.main-footer {
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		max-width: 1024px;
	}

	.inputgroup {
		margin: auto;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: start;
	}

	.contact_field label {
		width: 20%;
		align-self: center;
	}

	.contact_field input,
	.contact_field select {
		width: 80%;
		flex-basis: auto;
	}

}